<div class="collection-index {{ width }} mobile-3" data-alpha="{{ collection.title }}">
  <div class="collection-image">

      {% if collection.image %}
      {{ collection.image.src | collection_img_url: image_size | img_tag: collection_title }}
      {% else %}
      {{ collection.products.first.featured_image | product_img_url: image_size | img_tag: collection_title }}
      {% endif %}

  </div>
  <div class="collection-info">
    <h3>{{ collection.title }}</h3>
    <p class="tagline">{{ collection-tagline }}</p>

    <div class="color-variants">
      {% for color in colors %}
        <span class="color-indicator" style="background-color: {{ color }}"></span>
      {%  endfor %}
    </div>

    <a href="{{ collection.url }}" title="{{ collection.title }}" class="button">
        {{ 'products.product.collection_more_details' | t }}
    </a>
  </div>

</div>