<div class="clearfix">
  <style type="text/css">
    .facebook { float: left; margin-left: 6px; margin-right: 10px; }
    .twitter { float: left; margin-right: 5px; }
    .pinterest { float: left }
  </style>
  <span class="twitter">
    <a href="//twitter.com/share"{% if template == 'product' or template == 'article' or template == 'blog' %} data-url="{{ shop.url }}{{ social.url }}"{% endif %} data-text="{% if template == 'product' %}{{ product.title | escape }} by {{ product.vendor | escape }}{% elsif template == 'blog' %}{{ social.title | escape }}{% else %}{{ page_title | escape }}{% endif %}" class="twitter-share-button" data-count="none">Tweet</a>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </span>

  <span class="facebook">
    <iframe src="//www.facebook.com/plugins/like.php?href={{ shop.url }}{{ social.url }}&layout=button_count&show_faces=true&width=450&action=like&colorscheme=light&height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:30px" allowTransparency="true"></iframe>
  </span>

  <span class="pinterest"> 
    {% if template contains 'product' %}
    <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ social.url }}&media={{ product.images[0] | product_img_url: '1024x1024' }}&description={{ product.title }}" class="pin-it-button" count-layout="horizontal"></a>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    {% elsif template contains 'article' %}
    {% if article.image %}
    <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ social.url }}&media={{ article.image.src | img_url: 'grande'  }}&description={{ article.title }}" class="pin-it-button" count-layout="horizontal"></a>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    {% endif %}
    {% endif %}
  </span>  

</div>