<div id="footer" class="footer-section" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="container row"> 
    <div id="big-footer" class="desktop-12">      
      {% case section.blocks.size %}
      {% when 0 %}
      {% when 1 %}
      {% assign column_width = 'desktop-12 tablet-6 mobile-3' %}
      {% when 2 %}
      {% assign column_width = 'desktop-6 tablet-6 mobile-3' %}
      {% when 3 %}
      {% assign column_width = 'desktop-4 tablet-6 mobile-3' %}
      {% when 4 %}
      {% assign column_width = 'desktop-3 tablet-6 mobile-3' %}
      {% endcase %}      
      {% for block in section.blocks %}   
      {% case block.type %}
      {% when 'menu' %}
      <div class="{{ column_width }} footer-sect">
        <ul {{ block.shopify_attributes }}>
          {% for link in linklists[block.settings.footer_nav].links %}
          <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>
      </div>
      {% when 'newsletter' %}
      <div class="{{ column_width }} footer-sect">
        <h4>{{ block.settings.title }}</h4>
		{% include 'mailing' %}
      </div>  
      {% when 'social' %}      
       <div id="social-icons" class="{{ column_width }} footer-sect">
        {% if settings.facebook_url != blank %}<a href="{{ settings.facebook_url }}"><i class="fa fa-facebook"></i></a>{% endif %}
        {% if settings.twittername != blank %}<a href="{{ settings.twittername }}"><i class="fa fa-twitter"></i></a>{% endif %}
        {% if settings.pinterest_url != blank %} <a href="{{ settings.pinterest_url }}"><i class="fa fa-pinterest"></i></a>{% endif %}
        {% if settings.tumblr_url != blank %} <a href="{{ settings.tumblr_url }}"><i class="fa fa-tumblr"></i></a>{% endif %}
        {% if settings.flickr_url != blank %} <a href="{{ settings.flickr_url }}"><i class="fa fa-flickr"></i></a>{% endif %}
        {% if settings.youtube_url != blank %} <a href="{{ settings.youtube_url }}"><i class="fa fa-youtube"></i></a>{% endif %}
        {% if settings.googleplus_url != blank %} <a href="{{ settings.googleplus_url }}"><i class="fa fa-google-plus"></i></a>{% endif %}
        {% if settings.vimeo_url != blank %} <a href="{{ settings.vimeo_url }}"><i class="fa fa-vimeo-square"></i></a>{% endif %}
        {% if settings.linkedin_url != blank %} <a href="{{ settings.linkedin_url }}"><i class="fa fa-linkedin"></i></a>{% endif %}
        {% if settings.instagram_name != blank %} <a href="//instagram.com/{{ settings.instagram_name }}"><i class="fa fa-instagram"></i></a>{% endif %}
       <div id="powered-by">
           {% if block.settings.logo1 != nil or block.settings.logo2 != nil %}
               <h4>
                {{ 'layout.footer.powered' | t }}
               </h4>
               {% if block.settings.logo1 != nil %}
                   {% assign width1 = block.settings.logo1_width | append: 'x' %}
                   <img src="{{ block.settings.logo1 | img_url: width1 }}" srcset="{{ block.settings.logo1 | img_url: width1, scale: 2}} 2x">
               {% endif %}

               {% if block.settings.logo2 != nil %}
                   {% assign width2 = block.settings.logo2_width | append: 'x' %}
                   <img src="{{ block.settings.logo2 | img_url: width2 }}" srcset="{{ block.settings.logo2 | img_url: width2, scale: 2}} 2x">
               {% endif %}

           {% endif %}
       </div>
      </div>

      {% when 'image' %}
          <div class="{{ column_width }} footer-sect">
              <img src="{{ block.settings.image | img_url: '140x' }}" srcset="{{ block.settings.image | img_url: '140x', scale: 2}} 2x" alt="Logo" />
              <p class="footer-logo-text">
                  {{ block.settings.logo_text }}
              </p>
          </div>
      {% endcase %}
      {% endfor %}          
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Footer",
	"max_blocks": 4,
    "settings": [

    ],
   "blocks":[  
      {  
         "type":"menu",
         "name":"Menu",
         "settings":[  
            {
               "type": "link_list",
               "id": "footer_nav",
               "label": "Choose a menu"
            }
         ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter signup",
        "limit": 1,
		"settings":[
          {
            "type": "text",
            "id": "title",
            "label": "Section title",
            "default": "Newsletter signup"
           }
		]
	  },
      {
        "type": "social",
        "name": "Social & Powered by",
        "limit": 1,
        "settings": [
            {
                "type": "image_picker",
                "id": "logo1",
                "label": "Logo"
            },
            {
            "type": "text",
            "id": "logo1_width",
            "label": "Logo width (px)"
            },
            {
                "type": "image_picker",
                "id": "logo2",
                "label": "Logo"
            },
            {
            "type": "text",
            "id": "logo2_width",
            "label": "Logo width (px)"
            }
        ]
	  },
        {
            "type": "image",
            "name": "Logo",
            "limit": 1,
            "settings": [
                {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
                },
                {
                "type": "text",
                "id": "logo_text",
                "label": "Logo text"
                }
            ]
        }
   ]
  }
{% endschema %}
